ul.nav.nav-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 1rem;
  }

/* Additional styling within src/index.css */
.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;  /* Aligns items in a row */
  align-items: center;  /* Aligns items vertically */
  justify-content: center;  /* Aligns items horizontally */
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);  /* Adds a shadow effect */
}

.navbar li {
  margin-right: 20px;  /* Adjust spacing between links */
}

.navbar a {
  text-decoration: none;
  color: black;  /* Set default link color */
}

.navbar a.active {
  font-weight: bold;
  color: #007BFF;  /* Highlight color for active link */
}

.navbar-tabs li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 1rem;
  }

.navbar-toggle {
  display: none;
  cursor: pointer;
  padding: 10px;
  background-color: #f4f4f4;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}

.navbar.open {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Logout-button {
  background: rgb(244,244,243);
  background: linear-gradient(180deg, rgba(244,244,243,1) 68%, rgba(41,41,43,1) 100%);
  color: #332600;
  font-size: 1rem; /* Example size */
  cursor: pointer; /* Indicates clickable */
}

.Logout-button, .Logout-button-outline {
  padding: 10px 20px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  display: inline-block;
}

.Logout-button:hover {
  background-color: #332600; /* Hover effect for the button */
}

@media (max-width: 768px) {
  .navbar {
    display: none; /* Hide the navbar by default on mobile devices */
  }
  .navbar.open {
    display: flex; /* Show when open */
  }
  .navbar-toggle {
    display: block; /* Show the toggle button on mobile */
  }
}


.search-container {
  display: flex; /* Use flexbox to align children */
  padding: 5px;
  border-radius: 2px;
  align-items: center; /* Align children vertically */
  justify-content: flex-end; /* Align children to the right */
  gap: 10px; /* Adds space between the input and the button */
}

.search {
  font-family: 'Merryweather', Verdana, Tahoma, sans-serif;
  width: 10%;
  background: rgb(244,244,243);
  background: linear-gradient(180deg, rgba(244,244,243,1) 68%, rgba(41,41,43,1) 100%);
  color: #332600;
  cursor: pointer; /* Indicates clickable */
  padding: 8px 16px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  display: inline-block;
  border: none;
  font-size: 12px; /* Example size */
  min-width: 100px; /* Ensures a minimum width */
}

.search-input {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  cursor: pointer; /* Indicates clickable */
  text-align: center;
  justify-content: center;
  border: 1px solid #332600;
  border-radius: 4px;
}

html, body {
  height: 100%; /* Ensures the html and body take full viewport height */
  margin: 0;
  padding: 0;
}

/* General body styling */
body {
  margin: 0;
  padding: 0;
  background: rgb(236,234,234);
  background: linear-gradient(180deg, rgba(236,234,234,1) 0%, rgba(6,6,6,1) 100%);
  font-family: 'Open Sans', sans-serif; /* Ensures font consistency */
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin-bottom: 30px;
}

/* Ensure full height for root and structure */
#root, .layout-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Styling for main content area */
.main-content {
  flex: 1;
  padding: 20px;
}

  