ul.nav.nav-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 1rem;
  }

.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar a.active {
  font-weight: bold;
  color: #007BFF;
}

.navbar-tabs li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 1rem;
  }

.navbar-toggle {
  display: none;
  cursor: pointer;
  padding: 10px;
  background-color: #f4f4f4;
  text-align: center;
}

.navbar.open {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Logout-button {
  background: rgb(244,244,243);
  background: linear-gradient(180deg, rgba(244,244,243,1) 68%, rgba(41,41,43,1) 100%);
  color: #332600;
  font-size: 1rem;
  cursor: pointer;
}

.Logout-button, .Logout-button-outline {
  padding: 10px 20px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  display: inline-block;
}

.Logout-button:hover {
  background-color: #332600;
}

@media (max-width: 768px) {
  .navbar {
    display: none;
  }
  .navbar.open {
    display: flex;
  }
  .navbar-toggle {
    display: block;
  }
}


.search-container {
  display: flex;
  padding: 5px;
  border-radius: 2px;
  align-items: center;
  justify-content: flex-end;
  gap: 10px;
}

.search {
  font-family: 'Merryweather', Verdana, Tahoma, sans-serif;
  width: 10%;
  background: rgb(244,244,243);
  background: linear-gradient(180deg, rgba(244,244,243,1) 68%, rgba(41,41,43,1) 100%);
  color: #332600;
  cursor: pointer;
  padding: 8px 16px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  display: inline-block;
  border: none;
  font-size: 12px;
  min-width: 100px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  width: 20rem;
  cursor: pointer;
  text-align: center;
  justify-content: center;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  background: rgb(236,234,234);
  background: linear-gradient(180deg, rgba(236,234,234,1) 0%, rgba(6,6,6,1) 100%);
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  margin-bottom: 30px;
}

#root, .layout-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex: 1;
  padding: 20px;
}

  