body {
  background: rgb(195,191,204);
  background: linear-gradient(180deg, rgba(195,191,204,1) 68%, rgba(161,164,227,1) 100%);
}


ul.nav.nav-tabs {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 1rem;
  }
/* Additional styling within src/index.css */
.navbar {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;  /* Aligns items in a row */
  align-items: center;  /* Aligns items vertically */
  justify-content: center;  /* Aligns items horizontally */
}

.navbar li {
  margin-right: 20px;  /* Adjust spacing between links */
}

.navbar a {
  text-decoration: none;
  color: black;  /* Set default link color */
}

.navbar a.active {
  font-weight: bold;
  color: #007BFF;  /* Highlight color for active link */
}

ul {
  background: rgb(240,238,227);
  background: radial-gradient(circle, rgba(240,238,227,1) 63%, rgba(173,180,182,1) 100%);
  list-style-type: none;
  text-align: center;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 8px 8x 8px #3F403E;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin: 0;
  gap: 50px;
  color: white;
}

.navbar-tabs li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  padding: 1rem;
  }

  .Career {
    color: white;
    font-family: 'Merryweather', Verdana, Tahoma, sans-serif;
    padding: 1rem;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #3F403E;
    justify-content: center;
  }

  h1 {
    font-family: 'Merryweather', Verdana, Tahoma, sans-serif;
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 50px 50px 50px 50px;
  }

  h2 {
    font-family: 'Merryweather', Verdana, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    padding: 1rem;
  }

  .search {
    font-family: 'Merryweather', Verdana, Tahoma, sans-serif;
    font-size: 2.25rem;
    color: white;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
  }

  .location {
    font-family: 'Merryweather', Verdana, Tahoma, sans-serif;
    font-size: 2.25rem;
    color: white;
    text-align: center;
    padding: 1rem;
  }

  .HomePage {
    display: flex;
    justify-content: center;
    font-family: 'Merryweather', Verdana, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: white;
    text-align: center;
    padding: 1rem;
    align-items: center;
  }