/* Global styles in src/index.css */
main {
  padding: 20px;  /* Add padding around the main content area */
  padding-top: 60px;  /* Additional padding to account for the fixed navbar */
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: white;
  z-index: 1000;  /* Keeps the navbar above other content */
  border-bottom: 1px solid #ccc;
}
