.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 0;
    background: rgb(55,55,53);
    background: linear-gradient(180deg, rgba(55,55,53,1) 61%, rgba(0,0,0,1) 100%);
    color: #f3f3f3;
    text-align: center;
    font-size: 16px;
    border-top: 1px solid #e2e2e2;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.footerLink {
    color: white;
}

.githublogo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .footer {
        padding: 10px 0;
        font-size: 14px;
    }
}
