.footer {
    display: flex; /* Ensures that content is flexibly designed */
    justify-content: center; /* Horizontally centers the content */
    align-items: center; /* Vertically centers the content */
    width: 100%; /* Stretches to the full width of the viewport */
    padding: 20px 0; /* Top and bottom padding only */
    background: rgb(55,55,53); /* Dark background */
    background: linear-gradient(180deg, rgba(55,55,53,1) 61%, rgba(0,0,0,1) 100%); /* Gradient background */
    color: #f3f3f3; /* Light text color for readability */
    text-align: center; /* Centers text inside the footer */
    font-size: 16px; /* Sets a readable font size */
    border-top: 1px solid #e2e2e2; /* Subtle top border for visual separation */
    position: fixed; /* Fixes position relative to the viewport */
    bottom: 0; /* Anchors the footer at the bottom */
    left: 0; /* Anchors the footer to the left */
    z-index: 1000; /* Ensures the footer stays on top of other content */
    margin-top: 20px; /* Adds space between the footer and the content above */
}

.footerLink {
    color: white;
}

.githublogo {
    width: 30px; /* Sets the width of the GitHub logo */
    height: 30px; /* Sets the height of the GitHub logo */
    margin-right: 10px; /* Adds space between the GitHub logo and text */
}

/* Media query for smaller devices */
@media (max-width: 768px) {
    .footer {
        padding: 10px 0; /* Reduces padding on smaller screens */
        font-size: 14px; /* Slightly smaller font size for small devices */
    }
}
