.homepage-h1 {
    margin-bottom: 10px;
    color: #616161;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px rgba(255, 254, 254, 0.1);
    background: rgb(244,244,243);
    background: linear-gradient(252deg, rgba(244,244,243,1) 68%, rgba(202,202,207,1) 100%);
    display: flex;
    justify-content: center;
    font-size: 4rem;
    font: 400 4rem 'Open Sans', sans-serif;
    border-radius: 50px;
    text-align: center;
  }

  .homepage-h2 {  
    margin-bottom: 10px;
    color: 	#616161;
    padding: 10px;
    box-shadow: 3px 3px 3px 3px rgba(255, 254, 254, 0.1);
    background: rgb(244,244,243);
    background: linear-gradient(121deg, rgba(244,244,243,1) 68%, rgba(202,202,207,1) 100%);
    display: flex;
    justify-content: center;
    font-size: 2.5rem;
    font: 400 2.5rem 'Open Sans', sans-serif;
    border-radius: 50px;
    text-align: center;
    }

    .searchform-button {
        padding: 10px 10 px;
        margin-bottom: 10px;
        border: 1px solid #ced4da;
        border-radius: 4px;
        background: rgb(240,238,227);
        background: radial-gradient(circle, rgba(240,238,227,1) 63%, rgba(173,180,182,1) 100%);
        color: #616161;
    }

    #noResults {
        font: white;
    }

    .logo {
        width: 300px;
        height: 300px;
        margin: 0 auto;
        display: block;
        margin-top: 50px;
        box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
    }

    @media (max-width: 768px) {
        .homepage-h1 {
          font-size: 3rem; /* Adjust the heading size for smaller screens */
        }
      
        .homepage-h2 {
          font-size: 2rem; /* Smaller subtitle size */
        }
      
        .searchform-button {
          padding: 8px 8px; /* Adjust button padding */
        }
      }
      