main.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ensures it covers the full viewport height */
  background: cover; /* Assumed background image or gradient specified elsewhere */
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.login-input, .Login-button {
  width: 100%;
  margin-bottom: 10px;
}

.login-h2, .login-h3 {
  color: #616161;
  padding: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background: rgb(244,244,243);
  background: linear-gradient(180deg, rgba(244,244,243,1) 68%, rgba(202,202,207,1) 100%);
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 5.5rem; /* H2 size */
  font-family: 'Open Sans', sans-serif;
  border-radius: 50px;
  width: 100%; /* Ensures full width */
  font: arial, sans-serif, Tahoma;
}

.login-h2 {
  margin-top: 50px; /* Space from top or previous element */
}

.login-h3 {
  font-size: 2.5rem; /* Smaller font size for H3 */
  margin-top: 20px; /* Space from H2 */
}

.login-input {
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
}

.Login-button {
  background: rgb(244,244,243);
  background: linear-gradient(180deg, rgba(244,244,243,1) 68%, rgba(41,41,43,1) 100%);
  color: #332600;
  font-size: 1rem; /* Example size */
  cursor: pointer; /* Indicates clickable */
}

.Login-button, .Login-button-outline {
  padding: 10px 20px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  display: inline-block;
}

.Login-button:hover {
  background-color: #332600; /* Hover effect for the button */
}

.logo2 {
  display: flex;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .login-h2, .login-h3 {
    font-size: 3.5rem; /* Smaller font for H2 and H3 on smaller screens */
    padding: 8px; /* Smaller padding */
  }

  .login-form {
    max-width: 100%; /* Allows the form to expand to full width */
    padding: 15px; /* Consistent padding */
  }

  .login-input, .login-button {
    margin-bottom: 10px; /* Consistent spacing */
  }
}
