.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  padding: 10px 0 0 10px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.login-h2, .login-h3 {
  color: #616161;
  padding: 10px 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background: rgb(244,244,243);
  background: linear-gradient(180deg, rgba(244,244,243,1) 68%, rgba(202,202,207,1) 100%);
  display: block;
  justify-content: center;
  text-align: center;
  font: 400 5.5rem 'Open Sans', sans-serif;
  border-radius: 50px;
  margin-top: 20px;
}

.login-h3 {
  font-size: 2.5rem;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .login-h2, .login-h3 {
    font-size: 3.5rem;
    padding: 8px;
  }

  .login-form {
    max-width: 100%;
    padding: 15px;
  }
}

.logo2 {
  display: flex;
  width: 10%;
  height: auto;
  max-width: 100px;
  max-height: 100px;
  margin: 20px auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-shadow: 3px 3px 3px 3px rgba(255, 254, 254, 0.1);
  gap: 10px;
}

@media (max-width: 768px) {
  .login-h2, .login-h3 {
    font-size: 3.5rem;
    padding: 8px;
  }

  .login-form {
    max-width: 100%;
    padding: 15px;
  }

  .login-input, .login-button {
    margin-bottom: 10px;
  }
  .logo2 {
    width: 15%;
    max-width: 70px;
    max-height: 70px;
  }
}

.login-input {
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  justify-content: center;
  border: 1px solid #332600;
  margin-bottom: 10px;
}

.Login-button {
  background: rgb(244,244,243);
  background: linear-gradient(180deg, rgba(244,244,243,1) 68%, rgba(41,41,43,1) 100%);
  color: #332600;
  font-size: 1rem;
  cursor: pointer;
}

.Login-button, .Login-button-outline {
  padding: 10px 20px;
  margin: 10px 10px 10px 0;
  border-radius: 5px;
  display: inline-block;
}