.job-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin: auto;
  gap: 20px;
  padding: 20px;
  margin-bottom: 50px;
}

.job-card {
  display: flex; /* Overrides the default list-item display */
  flex-direction: column;
  background: linear-gradient(180deg, rgba(242,242,237,1) 68%, rgba(159,160,166,1) 100%);
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 20px;
  width: 100%; /* Ensure the cards stretch to the width of the container */
  font-family: Arial, sans-serif; /* Example font stack */
}

ul {
  width: 100%; /* Ensure the ul takes the full width of its parent */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
  list-style-type: none; /* Remove bullet points */
}

li {
  display: flex; /* This ensures that the list items use flexbox */
  flex-direction: column; /* Stack the contents of the list item vertically */
  width: 100%; /* Full width to match the job-card settings */
}

.job-description {
  margin-top: 10px;
  color: #332600; 
  margin-bottom: 0.5rem; /* Provides spacing below the paragraph */
  line-height: 1.5; /* More readable line height */
  margin-bottom: 10px; /* Space before action buttons */
}

.job-link {
  display: block;
  color: #425a71;
  margin-top: 5px;
}

.button, .button-outline {
  padding: 10px 20px;
  margin: 10px 10px 10px 0; /* Adds spacing between buttons */
  cursor: pointer;
  border-radius: 5px;
  display: inline-block; /* Ensures the button is displayed inline and respects the margin */
}

.button {
  background: rgb(244,244,243);
  background: linear-gradient(180deg, rgba(244,244,243,1) 68%, rgba(41,41,43,1) 100%);
  color: #332600;
}

.button-outline {
  background-color: transparent;
  border: 1px solid #332600;
  color:  #332600;
}

h2 {
  margin: 0;
  color: #616161;
}

.job-title {
  color: #616161;
  font-size: 1.5rem; /* Example size */
  margin-bottom: 0.5rem; /* Provides spacing below the title */
}

.job-info {
  color: #332600;
  font-size: 1rem; /* Example font size */
  margin-bottom: 0.5rem; /* Provides spacing below the paragraph */
}

.sentence-block {
  display: block; /* Makes each span a block, putting it on a new line */
  margin-bottom: 8px; /* Optional: adds space between sentences */
}
